*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Registro */
#Registro_Body{
    background-size: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Registro_Body label{
    color: #DEE5E5;
}
#Registro_Body h1{
    color: #DEE5E5;
}
.obl{
    color: #A5D0A8;
} 
.contenido{
    width: 460px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background-color: #982a98;
}
.login h1{
    font-size: 36px;
    margin-bottom: 25px;
    color: #DEE5E5;
}
.login form{
    font-size: 20px;
}
.login form .form-group{
    margin-bottom: 12px;
}
.login form input[type="sumbit"]{
    font-size: 20px;
    margin-top: 15px;
}

/*Inicio de sesión*/
#sesion{
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.box{
    position: relative;
    width: 380px;
    height: 420px;
    background: #222;
    border-radius: 8px;
    overflow: hidden;
}
.borderline{
    position: absolute;
}
.box form{
    position: absolute;
    inset: 4px;
    background: #3c7bab;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.box form h2{
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.box form .inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.box form .inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}
.box form .inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span
{
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);
}
.box form .inputBox i
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}
.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i
{
    height: 44px;
}
.box form .links
{
    display: flex;
    justify-content: space-between;

}
.box form .links a
{
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}
.box form .links a:hover,
.box form .links a:nth-child(2)
{
    color: #fff;
}
.box form input[type="submit"]
{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #fff;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
}
.box form input[type="submit"]:active
{
    opacity: 0.8;
}


/*Barra de navegacion(nav bar)*/
.navbar{
    height: 90px;
    margin-bottom: 5px;
}
.navbar-nav{
    background-color: #212529;
}
.navbarSupportedContent{
    display: flex;
    justify-content: center;
}
#namePag{
    font-size: 50px;
    font-family: fantasy;
    color: rgb(193, 93, 148);
}
#btn_nav{
    height: 50px;
    width: 60px;
    border-radius: 50%;
    border: white;
    padding-top: 10px;
}
.material-icons{
    justify-content: center;
}
#dropM{
    width: 250px;
    height: 150px;
}
.carrito{
    margin-left: 70vh;
}
#containerNav{
    background-color: #212529;
}

/*Carrusel*/
.carousel-item{
    margin-top: 70px;
    height: 60vh;
    min-height: 500px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-sizw: cover;
    background-size: cover;
}

/*Cartas de venta*/
#cardb{
    margin-top: 20px;
}
.card{
    margin-bottom: 30px;
    border: none;
}

/*Footer*/
.footer {
    background-color: #212529;
    padding: 20px 0;
}

.text-white {
    color: #fff;
}

.footer-icons {
    text-align: right;
}

.cart-actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

/*Carrito*/
.cart{
    width: 100%;
    max-width: 600px;
    margin: 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 150px;
    margin-left: 450px;
}
.cart-header{
    text-align: center;
    margin-bottom: 20px;
}
.cart-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cart-item{
    width: calc(50% - 10px);
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
.cart-item img{
    width: 150px;
    height: 100px;
    margin-right: 10px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.cart-item-details{
    flex: 1;
} 
.cart-item-details h3{
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}
.cart-item-details p{
    margin: 0;
    margin-top: 5px;
}
.cart-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.cart-footer p{
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}
.btn-primary{
    background-color: #212529;
    border-color: #9bbd8d;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: #9bbd8d;
    border-color: #69885b;
    color: #fff;
}









































































